<nav>
  <div class="site-title">
    <a href="/"><h1>Football Database</h1></a>
    <p>The world's best football Database</p>
    <p>Full stack Development Task 1</p>
  </div>
  <ul>
    <li><a href="/"><button>All players</button></a></li>
    <li><a href="/about"><button>About us</button></a></li>
    <li><a href="/Players/create"><button>Add New player</button></a></li>
  </ul>
</nav>